.App {
   width: 500px;
   height: 500px;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.search {
    width: 30rem;
    text-align: right;
    position: relative;
}
.search-box {
    border: 4px solid transparent;
    border-radius: 2px;
    font-size: 2rem;
    width: 100%;
    padding: 1rem;
}
.search-box:focus {
    width: 100%;
    outline: none;
    border: 4px solid #ccc;
}

.options {
    display: block;
    list-style: none;
    width: 30rem;
    transition: width 0.3s;
    margin: auto;
    position: relative;
    padding: 0;
    li {
        display: block;
        background: white;
        margin: 10px auto;
        padding: 10px;
        font-size: 1.2rem;
        width: 100%;
        border-radius: 2px;
        &:hover {
            cursor: pointer;
        }
    }
}

.no-options {
    color: white;
}
